{% extends 'EchangeoBundle:Default:base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block css %}
  <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div class="container">
    <div id="googlemaps" class="googlemaps"></div>
    {% if app.user %}
      <p class="login"><a href="{{ path('dashboard') }}">dashboard</a> | 
        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
    {% else %}
      <p class="login"><a href="{{ path('fos_user_security_login') }}">se connecter</a> |   
      <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a></p>    
    {% endif %}
    <h1 class="titre">Echangeo</h1>
    <div class="link"><a href="{{ path('recherche_service') }}" class="btn btn-primary">voir les annonces</a></div>
  <!-- dernières annonces -->
    <div id="main" class="main">
      <h2>Dernières annonces passées :</h2>
      <div class="annonces">
        {% for service in services %}
          <div class="annonce">
            <h3>{{service.titre}}</h3>
            <p>{{service.description}}</p>
            <p>Sous-catégorie : <b>{{service.sousCategorie.libelle}}</b></p>          
            <p>Auteur :{{service.inscrit.username}} <!-- / {{service.inscrit.nom}} {{service.inscrit.prenom}} --></p>
            <a href="{{ path('recherche_service_id',{ 'id': service.id }) }}" class="btn btn-primary">voir en detail</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>  
{% endblock content %}

{% block script %}
  <!-- Include the Google Maps API library - required for embedding maps -->
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g"></script>
  <script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script>
  <script type="text/javascript">
       
    // The latitude and longitude of your business / place
    var position = [48.858727, 2.344376];
    $("#googlemaps").height($('#main').height()+500);
     
    function showGoogleMapsDefaut() {
      console.log("display map");
       
      var latLng = new google.maps.LatLng(position[0], position[1]);
       
      var mapOptions = {
        zoom: 14, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: true, // allow users to zoom the Google Map
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng
      };
       
      map = new google.maps.Map(document.getElementById('googlemaps'),
          mapOptions);
       
      markerServices();
    }
    function markerServices(defaut,service){
      {% for service in services %}
        var position = "{{service.lieu}}".split(",");
        var latLng = new google.maps.LatLng(position[0], position[1]);
        console.log(position);
        var marker = new google.maps.Marker({
                  position: latLng,
                  map: map,
                  draggable: false,
                  animation: google.maps.Animation.DROP
          });
      {% endfor %}
      markers.push(marker);
    }
    google.maps.event.addDomListener(window, 'load', showGoogleMapsDefaut);
  </script>
{% endblock script %}