{% extends 'EchangeoBundle:Default:recherche.html.twig' %}

{% block service %}
    <h2 id="titre"> </h2>
   	<div id="liste" class="liste">
    	{% for service in services %}
    		<div id="serviceDetail" class="serviceDetail">
    			<h3>{{service.titre}}</h3>
    			<p>Proposé par : {{service.inscrit.username}}</p>
    			<p>{{service.description}}</p>
    			{% if app.user %}
	    			<form action="{{ path('reponse_service') }}" method='POST'>
	    				<input type='hidden' name='idService' value="{{service.id}}">
	    				<input type='hidden' id='lieu' value="{{service.lieu}}">
	    				<input type='text' id='date' name='dateRDV' class="form-control" placeholder='Date du rendez-vous'>
	    				<textarea name='message' class="form-control" placeholder='message'></textarea>
	    				<input type='submit' name='envoie' class="btn btn-success" value='répondre'>
	    			</form>
	    		{% else %}
	    			<p class=""><a href="{{ path('fos_user_security_login') }}" class="btn btn-success">connecter vous répondre à cette annonce</a></p>
	    		{% endif %}
    		</div>
    	{% endfor %}
    </div>
{% endblock service %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %} 
	<!-- include fonction de recherche	 -->
	{{ parent() }}
	<script src="{{ asset('script/pikaday.js')}}"></script>
	<script type="text/javascript">
		var picker = new Pikaday({ field: $('#date')[0] });
		position = $("#lieu").val().split(",");
	</script>
{% endblock script %}
