{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block css %}
	<link href="{{ asset('css/recherche.css') }}" rel="stylesheet">
	<link href="{{ asset('script/jquery-ui/jquery-ui.css') }}" rel="stylesheet">
	<link href="{{ asset('css/pikaday.css') }}" rel="stylesheet">
{% endblock css %}

{% block scriptTete %}	
	<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script>
	<script src="{{ asset('script/moment.js')}}"></script>
{% endblock scriptTete %}

{% block content %}
  <div class="container">
  	{% if app.user %}
      <p class="login">
        <a href="{{ path('index') }}"><span>E</span></a>
      	<a href="{{ path('dashboard') }}">dashboard</a> | 
        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
      </p>
    {% else %}
      <p class="login">
        <a href="{{ path('index') }}"><span>E</span></a>
        <a href="{{ path('fos_user_security_login') }}">se connecter</a> |   
        <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a>
      </p>      
    {% endif %}
  	<header>
  		<h1 class="logo"><a href="{{ path('index') }}"><span>E</span></a></h1>
  	</header>
  	<div id="main" class="main row"> 
  		<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  			<!-- barre de recherche -->
		  	<div class="recherche">
				<div id="select1">
				 		<select id="sousCategorie" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 dropdown">
					  		<option value="null">Toutes catégories</option>
					  		{% for categorie in categories %}	
					  			<option value="{{categorie.id}}">{{categorie.libelle}}</option>
					  		{% endfor %}
				  		</select>
				  		<select id="departement" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 dropdown">
					  		<option value="null">Toute la France</option>
					  		<option value="Ain">Ain</option>
					  		<option value="Aisne">Aisne</option>
					  		<option value="Allier">Allier</option>
					  		<option value="Alpes-de-Haute-Provence">Alpes-de-Haute-Provence</option>
					  		<option value="Hautes-Alpes">Hautes-Alpes</option>
					  		<option value="Alpes-Maritimes">Alpes-Maritimes</option>
					  		<option value="Ardèche">Ardèche</option>
					  		<option value="Ardennes">Ardennes</option>
					  		<option value="Ariège">Ariège</option>
					  		<option value="Aube">Aube</option>
					  		<option value="Aude">Aude</option>
					  		<option value="Aveyron">Aveyron</option>
					  		<option value="Bouches-du-Rhône">Bouches-du-Rhône</option>
					  		<option value="Calvados">Calvados</option>
					  		<option value="Cantal">Cantal</option>
					  		<option value="Charente">Charente</option>
					  		<option value="Charente-Maritime">Charente-Maritime</option>
					  		<option value="Cher">Cher</option>
					  		<option value="Corrèze">Corrèze</option>
					  		<option value="Corse-du-Sud">Corse-du-Sud</option>
					  		<option value="Haute-Corse">Haute-Corse</option>
					  		<option value="Côte-d'Or">Côte-d'Or</option>
					  		<option value="Côtes-d'Armor">Côtes-d'Armor</option>
					  		<option value="Creuse">Creuse</option>
					  		<option value="Dordogne">Dordogne</option>
					  		<option value="Doubs">Doubs</option>
					  		<option value="Drôme">Drôme</option>
					  		<option value="Eure">Eure</option>
					  		<option value="Eure-et-Loir">Eure-et-Loir</option>
					  		<option value="Finistère">Finistère</option>
					  		<option value="Gard">Gard</option>
					  		<option value="Haute-Garonne">Haute-Garonne</option>
					  		<option value="Gers">Gers</option>
					  		<option value="Gironde">Gironde</option>
					  		<option value="Hérault">Hérault</option>
					  		<option value="Ille-et-Vilaine">Ille-et-Vilaine</option>
					  		<option value="Indre">Indre</option>
					  		<option value="Indre-et-Loire">Indre-et-Loire</option>
					  		<option value="Isère">Isère</option>
					  		<option value="Jura">Jura</option>
					  		<option value="Landes">Landes</option>
					  		<option value="Loir-et-Cher">Loir-et-Cher</option>
					  		<option value="Loire">Loire</option>
					  		<option value="Haute-Loire">Haute-Loire</option>
					  		<option value="Loire-Atlantique">Loire-Atlantique</option>
					  		<option value="Loiret">Loiret</option>
					  		<option value="Lot">Lot</option>
					  		<option value="Lot-et-Garonne">Lot-et-Garonne</option>
					  		<option value="Lozère">Lozère</option>
					  		<option value="Maine-et-Loire">Maine-et-Loire</option>
					  		<option value="Manche">Manche</option>
					  		<option value="Marne">Marne</option>
					  		<option value="Haute-Marne">Haute-Marne</option>
					  		<option value="Mayenne">Mayenne</option>
					  		<option value="Meurthe-et-Moselle">Meurthe-et-Moselle</option>
					  		<option value="Meuse">Meuse</option>
					  		<option value="Morbihan">Morbihan</option>
					  		<option value="Moselle">Moselle</option>
					  		<option value="Nièvre">Nièvre</option>
					  		<option value="Nord">Nord</option>
					  		<option value="Oise">Oise</option>
					  		<option value="Orne">Orne</option>
					  		<option value="Pas-de-Calais">Pas-de-Calais</option>
					  		<option value="Puy-de-Dôme">Puy-de-Dôme</option>
					  		<option value="Pyrénées-Atlantiques">Pyrénées-Atlantiques</option>
					  		<option value="Hautes-Pyrénées">Hautes-Pyrénées</option>
					  		<option value="Pyrénées-Orientales">Pyrénées-Orientales</option>
					  		<option value="Bas-Rhin">Bas-Rhin</option>
					  		<option value="Haut-Rhin">Haut-Rhin</option>
					  		<option value="Rhône">Rhône</option>
					  		<option value="Haute-Saône">Haute-Saône</option>
					  		<option value="Saône-et-Loire">Saône-et-Loire</option>
					  		<option value="Sarthe">Sarthe</option>
					  		<option value="Savoie">Savoie</option>
					  		<option value="Haute-Savoie">Haute-Savoie</option>
					  		<option value="Paris">Paris</option>
					  		<option value="Seine-Maritime">Seine-Maritime</option>
					  		<option value="Seine-et-Marne">Seine-et-Marne</option>
					  		<option value="Yvelines">Yvelines</option>
					  		<option value="Deux-Sèvres">Deux-Sèvres</option>
					  		<option value="Somme">Somme</option>
					  		<option value="Tarn">Tarn</option>
					  		<option value="Tarn-et-Garonne">Tarn-et-Garonne</option>
					  		<option value="Var">Var</option>
					  		<option value="Vaucluse">Vaucluse</option>
					  		<option value="Vendée">Vendée</option>
					  		<option value="Vienne">Vienne</option>
					  		<option value="Haute-Vienne">Haute-Vienne</option>
					  		<option value="Vosges">Vosges</option>
					  		<option value="Yonne">Yonne</option>
					  		<option value="Territoire de Belfort">Territoire de Belfort</option>
					  		<option value="Essonne">Essonne</option>
					  		<option value="Hauts-de-Seine">Hauts-de-Seine</option>
					  		<option value="Seine-Saint-Denis">Seine-Saint-Denis</option>
					  		<option value="Val-de-Marne">Val-de-Marne</option>
					  		<option value="Val-d'Oise">Val-d'Oise</option>
					  		<option value="Guadeloupe">Guadeloupe</option>
					  		<option value="Martinique">Martinique</option>
					  		<option value="Guyane">Guyane</option>
					  		<option value="La Réunion">La Réunion</option>
					  		<option value="Mayotte">Mayotte</option>
				  		</select>
				  		<input id="keyword" type="text" name="keyword" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 keyword" placeholder="mots clés" />
				  		<span class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
				  			<input id="profondeur" type="checkbox" name="profondeur"/>
				  			<label for="profondeur">recherche en profondeur</label>
				  		</span>
				  		<button id="recherche" class="col-xs-12 col-sm-12 col-md-3 col-lg-2 btn btn-primary " onclick="displayRecherche()">Rechercher</button>
				  	
				</div>
				<div id="select2"></div>  	
		  	</div>
	  	</nav> 	 	
  	 	<!-- Block service -->
	    <div id="services" class="services col-xs-12 col-sm-12 col-md-5 col-lg-5">
		    <h2 id="titre"> </h2>
	    	<div id="liste" class="liste">
		    	{% for service in services %}
		    		<div id="serviceDetail" class="serviceDetail">
		    			<h3>{{service.titre}}</h3>
		    			<p>Proposé par : {{service.inscrit.username}}</p>
		    			<p>{{service.description}}</p>
		    			{% if app.user %}
			    			<form action="{{ path('reponse_service') }}" method='POST'>
			    				<input type='hidden' name='idService' value="{{service.id}}">
			    				<input type='text' id='date' name='dateRDV' class="form-control" placeholder='aaaa/mm/jj h:m'>
			    				<textarea name='message' class="form-control" placeholder='message'></textarea>
			    				<input type='submit' name='envoie' class="btn btn-success" value='répondre'>
			    			</form>
			    		{% else %}
			    			<p class=""><a href="{{ path('fos_user_security_login') }}" class="btn btn-success">connecter vous répondre à cette annonce</a></p>
			    		{% endif %}
		    		</div>
		    	{% endfor %}
		    </div>
	    </div>
	    <!-- La Carte -->
	    <div id="carte" class="carte col-xs-12 col-sm-12 col-md-7 col-lg-7">
	    	<div id="googlemaps"></div>
	    </div>
    </div>	
  </div>	
{% endblock content %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %} 
	<script src="{{ asset('script/pikaday.js')}}"></script>
	<!-- include fonction de recherche	 -->
	{% include 'EchangeoBundle:Scripts:rechercheScript.html.twig' %}
	<script type="text/javascript">
		var picker = new Pikaday({ field: $('#date')[0] });
	</script>
{% endblock script %}
