{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block css %}
	<link href="{{ asset('css/recherche.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container">
  	{% if app.user %}
      <p class="login"><a href="{{ path('dashboard') }}">dashboard</a>
        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
    {% else %}
    	<p class="login"><a href="{{ path('fos_user_security_login') }}">login</a></p>    
    {% endif %}
  	<header>
  		<h1 class="logo"><span>E</span></h1>
  	</header>
  	<nav></nav>
  	<div id="main" class="main">
  	 	<!-- Block de recherche -->
  		<div class="recherche">
	  		<!-- <input placeholder="Recherche"></input> -->
	    	<h2>Catégories : </h2>
	  		<div id="select1">
		  		<select onchange="displaySousCategorie.call(this,event)">
		  			{% for categorie in categories %}	
		  				<option value="{{categorie.id}}">{{categorie.libelle}}</option>
		  			{% endfor %}
		  		</select>
	  		</div>
	  		<div id="select2"></div>  	
  		</div>
  	 	<!-- Block Services -->
	    <div id="services" class="services">
		    <h2 id="titre"></h2>
	    	<div id="liste" class="liste">
	    		<div>
	    			<h3>{{services.titre}}</h3>
	    			<p>Proposé par : {{services.inscrit.username}}</p>
	    			<p>{{services.description}}</p>
	    			{% if app.user %}
		    			<form action="{{ path('reponse_service') }}" method='POST'>
		    				<input type='hidden' name='idService' value="{{services.id}}">
		    				<input type='text' name='dateRDV' placeholder='aaaa/mm/jj h:m'>
		    				<input type='text' name='message' placeholder='message'>
		    				<input type='submit' name='envoie' value='répondre'>
		    			</form>
		    		{% else %}
		    			<p class=""><a href="{{ path('fos_user_security_login') }}">connecter vous répondre à cette annonce</a></p>
		    		{% endif %}
	    		</div>
		    </div>
	    </div>
	    <!-- La Carte -->
	    <div id="carte" class="carte">
	    	<div id="googlemaps"></div>
	    </div>
    </div>	
  </div>	
{% endblock content %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %}
	<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script> 
	<!-- include fonction de recherche	 -->
	{% include 'EchangeoBundle:Scripts:rechercheScript.html.twig' %}
{% endblock script %}