{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block css %}
	<link href="{{ asset('css/recherche.css') }}" rel="stylesheet">
{% endblock css %}




{% block content %}
  <div class="container">
  	<header>
  		<h1>Echangeo</h1>
  		<div></div>
  	</header>
  	<nav>
  		<input> Recherche</input>
  	</nav>
  	<div class="colonnes selectCat">
  		<select onchange="displaySousCategorie.call()">
  			{% for categorie in categories %}	
  				<option>{{categorie.libelle}}</option>
  			{% endfor %}
  		</select>
  	</div>
    <div class="colonnes carte">
    	<h2>Les derniers services ajouté : </h2>
  		<a href="{{ path('getAllServices') }}">Voir tous les services</a>
    	{% for service in services %}
        	<div>
        		<h3>{{service.titre}}</h3>
        		<p>{{service.description}}</p>
        		<p>Sous-catégorie : <b>{{service.sousCategorie.libelle}}</b></p>        	
        		<p>Auteur :{{service.inscrit.username}} / {{service.inscrit.nom}} {{service.inscrit.prenom}}</p>
        	</div>
        {% endfor %}
    </div>
    <!-- <div class="carte" id="googlemaps"> -->
   </div>	
{% endblock content %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %}
	<script src="{{ asset('script/recherche.js') }}"></script> 
	<!-- fonction googleMaps -->
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
	<script type="text/javascript"> 
	  // The latitude and longitude of your business / place
	  var position = [48.854934, 2.347636];
	   
	  function showGoogleMaps() {

	  	console.log("start affichage de la carte");
	   
	      var latLng = new google.maps.LatLng(position[0], position[1]);
	   
	      var mapOptions = {
	          zoom: 16, // initialize zoom level - the max value is 21
	          streetViewControl: false, // hide the yellow Street View pegman
	          scaleControl: true, // allow users to zoom the Google Map
	          mapTypeId: google.maps.MapTypeId.ROADMAP,
	          center: latLng
	      };
	   
	      map = new google.maps.Map(document.getElementById('googlemaps'),
	          mapOptions);
	   
	      // Show the default red marker at the location
	      marker = new google.maps.Marker({
	          position: latLng,
	          map: map,
	          draggable: true,
	          animation: google.maps.Animation.DROP
	      });
	  	console.log("fin affichage de la carte");
	  }
	   
	  /*google.maps.event.addDomListener(window, 'load', showGoogleMaps);*/
	</script>
{% endblock script %}

