{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block css %}
	<link href="{{ asset('css/recherche.css') }}" rel="stylesheet">
	<link href="{{ asset('script/jquery-ui/jquery-ui.css') }}" rel="stylesheet">
	<link href="{{ asset('css/pikaday.css') }}" rel="stylesheet">
{% endblock css %}

{% block scriptTete %}	
	<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script>
	<script src="{{ asset('script/moment.js')}}"></script>
{% endblock scriptTete %}

{% block content %}
  <div class="container">
  	{% if app.user %}
      <p class="login"><a href="{{ path('dashboard') }}">dashboard</a> | 
        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
    {% else %}
      <p class="login"><a href="{{ path('fos_user_security_login') }}">se connecter</a> |   
      <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a></p>    
    {% endif %}
  	<header>
  		<h1 class="logo"><span>E</span></h1>
  	</header>
  	<div id="main" class="main row"> 
  		<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  			<!-- barre de recherche -->
		  	<div class="recherche">
				<div id="select1">
			 		<select onchange="displaySousCategorie.call(this,event)" class="dropdown">
			  		<option value="null">Catégories</option>
			  		{% for categorie in categories %}	
			  			<option value="{{categorie.id}}">{{categorie.libelle}}</option>
			  		{% endfor %}
			  		</select>
				</div>
				<div id="select2"></div>  	
		  	</div>
	  	</nav> 	 	
  	 	<!-- Block service -->
	    <div id="services" class="services col-xs-12 col-sm-12 col-md-5 col-lg-5">
		    <h2 id="titre"> </h2>
	    	<div id="liste" class="liste">
		    	{% for service in services %}
		    		<div id="serviceDetail" class="serviceDetail">
		    			<h3>{{service.titre}}</h3>
		    			<p>Proposé par : {{service.inscrit.username}}</p>
		    			<p>{{service.description}}</p>
		    			{% if app.user %}
			    			<form action="{{ path('reponse_service') }}" method='POST'>
			    				<input type='hidden' name='idService' value="{{service.id}}">
			    				<input type='text' id='date' name='dateRDV' class="form-control" placeholder='aaaa/mm/jj h:m'>
			    				<textarea name='message' class="form-control" placeholder='message'></textarea>
			    				<input type='submit' name='envoie' class="btn btn-success" value='répondre'>
			    			</form>
			    		{% else %}
			    			<p class=""><a href="{{ path('fos_user_security_login') }}" class="btn btn-success">connecter vous répondre à cette annonce</a></p>
			    		{% endif %}
		    		</div>
		    	{% endfor %}
		    </div>
	    </div>
	    <!-- La Carte -->
	    <div id="carte" class="carte col-xs-12 col-sm-12 col-md-7 col-lg-7">
	    	<div id="googlemaps"></div>
	    </div>
    </div>	
  </div>	
{% endblock content %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %} 
	<script src="{{ asset('script/pikaday.js')}}"></script>
	<!-- include fonction de recherche	 -->
	{% include 'EchangeoBundle:Scripts:rechercheScript.html.twig' %}
	<script type="text/javascript">
		var picker = new Pikaday({ field: $('#date')[0] });
	</script>
{% endblock script %}
