<!-- /* =======================================================
 * Ensembles des fonction utile à la recherche de services
 * par Guiraud Maxime
 * =======================================================*/ -->
<!-- Recherche -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g"></script>
<script type="text/javascript">
	var chargement = "<img class='loading' src={{ asset('assets/Loading_icon.gif')}}>";
	{% if app.user %}
		var userId = "{{app.user.id}}";
	{% else %}
		var userId="anon";
	{% endif %}
	console.log(userId);
	/*scripts de recherche*/
	function displaySousCategorie(event) {
		/*récupération de la catégorie choisie*/
		var id = this.options[this.selectedIndex].value;
		/*création de l'url*/ 
		var url = "{{ path('getSousCategories',{ 'id': "idPlaceholder" , '_format': 'json'}) }}";
		url = url.replace("idPlaceholder", id);
		/*on vide les div et on enleve les anciens marqueurs de la carte*/
		$("#titre").empty();	
		$("#liste").empty();	
		$("#liste").append($(chargement));	
		clearMarkers();
		/*fonction ajax - recuperation des sousCatégories dans la categorie choisie*/
		$.ajax({
			url: url,
			type: "GET",
			dataType: "json",
			success: function(sousCategorie){
				console.log(sousCategorie);
				$("#liste").empty();
				$('#select2').empty();
				$('#select2').append($("<form id='formSousCategorie' class='sousCategorie' method='get'>"));
				$('#formSousCategorie').append($("<ul id='listeCategories'>"));
				/*affichage de la selection des sousCategorie*/ 
				for(var i=0; i<sousCategorie.length-1; i++){
					$('#listeCategories').append($("<li id=categorie"+sousCategorie[i].id+">"));
					$('#categorie'+sousCategorie[i].id).append($("<label class='labelSC'>").text(sousCategorie[i].libelle));
					$('#categorie'+sousCategorie[i].id).append($("<input type='checkbox' checked value="+sousCategorie[i].id+"  onchange='displayServices()'>"));
				}
				/*Parcours des annonces de la categorie(mère)*/
				for(var i=0; i<sousCategorie[sousCategorie.length-1].length; i++){
					var service = sousCategorie[sousCategorie.length-1][i];

					/*affichage des annonces*/
					$('#titre').text("Annonces disponibles :");
					$('#liste').append($("<div id='service"+service.id+"' class='tuile'>"));
					$('#service'+service.id).append($("<h3>").text(service.titre));
					$('#service'+service.id).append($("<p>").text("Proposé par : "+service.username));
					$('#service'+service.id).append($("<p>").text("Du : "+moment(service.debut).lang('fr').format("LLL")+" au "+moment(service.fin).lang('fr').format("LLL")));
					$('#service'+service.id).append($("<a id="+service.id+" href='#' class='btn btn-primary'>").text('voir en détails'));

					/*affichage des annonces à la carte*/
					markerServices(false,service,service.icone);

					/*ajout de la fonction d'affichage des détails d'un service*/
					displayDetails(service.id,false);
					}
			},
			error: function (req, status, err){
				console.log("erreur");
				console.log(err);
			}
		});
		return false;
	}

	function displayServices(){
		console.log("activation displayServices");
		/*On récupère les catégories sélectionné par l'utilisateur*/
		var selectedId = [];
		$('#formSousCategorie input:checked').each(function() {
    		selectedId.push($(this).attr('value'));
		});
		console.log('liste des sousCatégorie choisie(s) :');
		console.log(selectedId);
		/*création de l'url*/ 
		var url = "{{ path('getServicesSousCategories',{ 'id': "idPlaceholder" , '_format': 'json'}) }}";
		url = url.replace("idPlaceholder", selectedId);
		console.log("url :");
		console.log(url);
		$("#liste").empty();
		$("#liste").append($(chargement));	
		clearMarkers();
		/*AJAX*/		
		$.ajax({
			url: url,
			type: "GET",
			dataType: "json",
			success: function(services){
				console.log('test rqt Ajax');
				console.log(services);
				$("#liste").empty();
				for(var i=0; i<services.length; i++){
					$('#liste').append($("<div id='service"+services[i].id+"' class='tuile'>"));
					$('#service'+services[i].id).append($("<h3>").text(services[i].titre));
					$('#service'+services[i].id).append($("<p>").text("Proposé par : "+services[i].username));
					$('#service'+services[i].id).append($("<p>").text("Du : "+moment(services[i].debut).lang('fr').format("LLL")+" au "+moment(services.fin).lang('fr').format("LLL")));
					$('#service'+services[i].id).append($("<a id="+services[i].id+" href='#' class='btn btn-primary'>").text('voir en détails'));					
					markerServices(false,services[i],services[i].icone);
					displayDetails(services[i].id,false);
				}
			},
			error: function (req, status, err){
				console.log("erreur display service");
				console.log(err);
			}
		});
	}


	function displayDetails(id, onload){
		console.log("displayDetails");
		var elem = $('#'+id);
		if (onload) {
			elem = $('#liste a');
		}
		console.log(elem);
		elem.on("click", function(){
			/*affichage du chargement*/
			$("#titre").empty();	
			$("#liste").empty();	
			$("#liste").append($(chargement));
			var selectedId = $(this).attr("id");
			console.log("Details Service n°: "+selectedId);  
			/*création de l'url de la fonction ajax*/ 
			var url = "{{ path('getserviceID',{ 'id': "idPlaceholder" , '_format': 'json'}) }}";
			url = url.replace("idPlaceholder", selectedId);
			var urlForm = "{{ path('reponse_service') }}";
			console.log("url :");
			console.log(url);
			/*AJAX*/	
			$.ajax({
				url: url,
				type: "GET",
				dataType: "json",
				success: function(service){
					console.log('click -> voir details');
					console.log(service);
					$("#liste").empty();
					/*$('#titre').text("<- retour");*/
					/*Affichage du service*/
					$('#liste').append($("<div id='serviceDetail' class='serviceDetail'>"));
					$('#serviceDetail').append($("<h3>").text(service.titre));
					$('#serviceDetail').append($("<p>").text("Proposé par : "+service.username));
					$('#serviceDetail').append($("<p>").text("Du : "+moment(service.debut).lang('fr').format("LLL")+" au "+moment(service.fin).lang('fr').format("LLL") ));
					$('#serviceDetail').append($("<p>").text(""+service.description));

					/*Si l'utilisateur est connecté, il peut répondre, sinon il doit se connecter*/
					{% if app.user %}
						if (userId!=service.userId) {
							/*affichage du formulaire de réponse*/
							$('#serviceDetail').append($("<form id='formulaire' action="+urlForm+" method='POST'>"));
							$('#formulaire').append($("<input type='hidden' name='idService' value="+service.id+">"));
							$('#formulaire').append($("<input id='date' class='form-control' type='text' name='dateRDV' placeholder='aaaa/mm/jj h:m'>"));
							/*ajout du datePicker*/
							var picker = new Pikaday({ field: $('#date')[0] });
							$('#formulaire').append($("<textarea type='text' class='form-control' name='message' placeholder='message'>"));
							$('#formulaire').append($("<input type='submit' class='btn btn-success' name='envoie' value='répondre'>"));
						}
						else{
							var urlDash = "{{ path('dashboard') }}";
							$('#serviceDetail').append($("<h5 class='btn btn-default'>").text("Vous ne pouvez pas répondre à votre propre annonce"));
							$('#serviceDetail').append($("<a href="+urlDash+" class='btn btn-primary' >").text("Modifier mon annonce"));
						}
					{% else %}
						$('#serviceDetail').append($("<p>").append($("<a class='btn btn-success' href='{{ path('fos_user_security_login') }}''>connecter vous répondre à cette annonce</a>")));
					{% endif %}
				},
				error: function (req, status, err){
					console.log("erreur");
					console.log(err);
				}
			});
			return false;
		});
	}

	//Ajout des Details des services pour les service affiché par défaut
	$(document).ready(function(){
    	displayDetails(null,true);
	});

/*CARTE*/

	var key = "key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g";
	var position = [48.858727, 2.344376];
	var map = null;
	var markers = [];
	   
	function showGoogleMapsDefaut() {
		console.log("display map");
		console.log($('#body').width());
		if($('#body').width()<700) {
			console.log('mobile');
			$('#googlemaps').height(300);
		}
		else{
	    	$('#googlemaps').height($('#services').height());
		}
	     	     
	    /*paramètres de la map*/
	    var latLng = new google.maps.LatLng(position[0], position[1]);
	    var mapOptions = {
	      zoom: 13, // initialize zoom level - the max value is 21
	      streetViewControl: false, // hide the yellow Street View pegman
	      scaleControl: true, // allow users to zoom the Google Map
	      mapTypeId: google.maps.MapTypeId.ROADMAP,
	      center: latLng
	    };

	    //Affichage de la map
	    map = new google.maps.Map(document.getElementById('googlemaps'),mapOptions);
	    
	    //Affichage des marqueurs de services 
	    markerServices(true,null,null);
	  }

	function markerServices(defaut,service,icone){
		if(defaut){
			{% for service in services %}
				var position = "{{service.lieu}}".split(",");
				var latLng = new google.maps.LatLng(position[0], position[1]);
				console.log("service pos : "+position);
				var nom_icone = "{{service.sousCategorie.icone}}";
				var uri_icone = "{{ asset('assets/icones/placeholder')}}";
				uri_icone = uri_icone.replace("placeholder", nom_icone);
				console.log(uri_icone);
				var marker = new google.maps.Marker({
			            position: latLng,
			            map: map,
			            icon:uri_icone,
			            draggable: false,
			            animation: google.maps.Animation.DROP
			    });
			    markers.push(marker);
			{% endfor %}
		}
		else{
			var position = service.lieu.split(",");
			var latLng = new google.maps.LatLng(position[0], position[1]);
			var uri_icone = "{{ asset('assets/icones/placeholder')}}";
			uri_icone = uri_icone.replace("placeholder", icone);
			var marker = new google.maps.Marker({
			        position: latLng,
			        map: map,
			        icon : uri_icone,
			        draggable: false,
			        animation: google.maps.Animation.DROP
			});
			markers.push(marker);
		}	
	}

	function clearMarkers(){
		for (var i = 0; i < markers.length; i++) {
    		markers[i].setMap(null);
  		}
	}

	google.maps.event.addDomListener(window, 'load', showGoogleMapsDefaut);
</script>

