<!-- /* =======================================================
 * Ensembles des fonction utile à la gestion des reponses
 * par Guiraud Maxime
 * =======================================================*/ -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g"></script>
<script type="text/javascript">
	var chargement = "<img class='loading' src={{ asset('assets/Loading_icon.gif')}}>";
	$(document).ready(function(){
		$("#reponsesMenu").css({'border-bottom': 'solid 8px #4FC1E9'});
	});
/*on click service*/
	$(".tuile").on("click", function(){
		console.log('display');
		console.log(this.id);
		/*création de l'url*/ 
		var url = "{{ path('getreponseUserID',{ 'id': "idPlaceholder" , '_format': 'json'}) }}";
		url = url.replace("idPlaceholder", this.id);
		var urlForm = "{{ path('sendMessage') }}";
		urlForm = urlForm.replace("idPlaceholder", this.id);
		console.log(url);
		/*fonction ajax*/
		$("#cadre").empty();
		$("#cadre").append($(chargement));
		$.ajax({
			url: url,
			type: "GET",
			dataType: "json",
			success: function(data){
				console.log('test get data');
				console.log(data);
				$("#cadre").empty();
				$("#cadre").append($("<div id='service' class='service'>"));
				$("#service").append($("<div id='annonce' class='annonce'>"));
				$("#annonce").append($("<h2>").text(data.service.titre));
				$("#annonce").append($("<p>").text(data.service.description));
				$("#annonce").append($("<p>").text("Du : "+moment(data.service.debut).lang('fr').format("LLL")+" au "+moment(data.service.fin).lang('fr').format("LLL")));
				$("#annonce").append($("<input id='lieu' hidden value="+data.service.lieu+">"));
				$("#annonce").append($("<input id='distance' hidden value="+data.service.distance+">"));
				$("#annonce").append($("<div id='googlemaps' class='carteAjout'>"));
				$("#service").append($("<div id='reponse' class='reponse'>"));
				$("#reponse").append($("<h3>").text("Réponse :"));
				$("#reponse").append($("<h4>").text('de '+data.username));
				$("#reponse").append($("<p>").text('date proposé pour le service :'+moment(data.date_rendez_vous).lang('fr').format("LLL")));
				validation(data);
				$("#service").append($("<div id='conversation' class='conversation'>"));
				for(var i=0; i<data.messages.length; i++){
					if ( "{{ app.user.username }}"==data.messages[i].username) {
						var id = data.messages[i].id;
						$("#conversation").append($("<div id='message"+id+"' class='message sideUser'>"));
						$("#message"+id).append($("<h4>").text(data.messages[i].username));
						$("#message"+id).append($("<p>").text(data.messages[i].contenu));
					}
					else{
						var id = data.messages[i].id;
						$("#conversation").append($("<div id='message"+id+"' class='message'>"));
						$("#message"+id).append($("<h4>").text(data.messages[i].username));
						$("#message"+id).append($("<p>").text(data.messages[i].contenu));
					}
				}
				if (data.etat=="cloture") {
					$("#conversation").append($("<p>").text("Le service est cloture"))
				}
				else{
					$("#conversation").append($("<form id='send' action="+urlForm+" method='POST'>"));
					$("#send").append($("<input type='hidden' name='idConversation' value="+data.conversationId+">"));
					$("#send").append($("<input type='hidden' name='page' value='reponse'>"));
					$("#send").append($("<input type='text' class='form-control' name='message' placeholder='message'>"));
					$("#send").append($("<input type='submit' class='btn btn-primary' name='envoie' value='répondre'>"));
				}
				displayMap();
			}
		});
	}); 

	function validation(data){
		if (data.etat=="attente") {
			$("#reponse").append($("<div id='validation'>"));
			$("#validation").append($("<p>").text("votre proposition n'a pas encore été validé"));
		}
		if (data.etat=="valide"){
			$("#reponse").append($("<div id='validation'>"));
			$("#validation").append($("<p>").text("votre proposition a été validé. Un fois le service rendu, pensez à noter"));
		}
		if (data.etat=="notation"){
			if (data.service.evaluateurs.indexOf("{{app.user.username}}")> -1) {
				$("#reponse").append($("<p>").text("ça marche !!!!!!!!! Vous avez deja noté"));
			}
			else{
				var urlNote = "{{ path('notation') }}";
				$("#reponse").append($("<form id='validation' action="+urlNote+" method='POST'>"));
				$("#validation").append($("<input type='hidden' name='idReponse' value="+data.id+">"));
				$("#validation").append($("<input type='hidden' name='page' value='reponses'>"));
				$("#validation").append($("<label for='note'>Note : </label>"));
				$("#validation").append($("<input id='r1' type='radio' name='note' value=1>"));
				$("#r1").append($("<label for='r1'>1</label>"));
				$("#validation").append($("<input id='r2' type='radio' name='note' value=2>"));
				$("#r2").append($("<label for='r2'>2</label>"));
				$("#validation").append($("<input id='r3' type='radio' name='note' value=3>"));
				$("#r3").append($("<label for='r3'>3</label>"));
				$("#validation").append($("<input id='r4' type='radio' name='note' value=4>"));
				$("#r4").append($("<label for='r4'>4</label>"));
				$("#validation").append($("<input id='r5' type='radio' name='note' value=5>"));
				$("#r5").append($("<label for='r5'>5</label>"));
				$("#validation").append($("<input type='text' name='commentaire' placeholder='commentaire'>"));
				$("#validation").append($("<input type='submit' name='noter' value='noter'>"));
			}
		}
		if (data.etat=="refuse"){
			$("#reponse").append($("<div>"));
			$("#reponse").append($("<p>").text("Votre proposition a été refusée. "));
		}
		if (data.etat=="cloture"){
			$("#reponse").append($("<div>"));
			$("#reponse").append($("<p>").text("Le service est fini, il a été cloturé. Vous pouvez toujours y répondre à nouveau pour établir un nouveau rendez-vous."));
		}
	}

	function displayMap(){
		console.log("displayMap");
		//affichage de la carte :
		var key = "key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g";
		var position = $("#lieu").val().split(",");
		console.log(position);
		var latLng = new google.maps.LatLng(position[0], position[1]);
		var mapOptions = {
	  	zoom: 14, // initialize zoom level - the max value is 21
	  	streetViewControl: false, // hide the yellow Street View pegman
	  	scaleControl: true, // allow users to zoom the Google Map
	  	mapTypeId: google.maps.MapTypeId.ROADMAP,
	  	center: latLng
		};
    	map = new google.maps.Map(document.getElementById('googlemaps'),mapOptions);
    	// Ajout du marker sur la map
		marker = new google.maps.Marker({
	      position: latLng,
	      map: map,
	      draggable: false,
	      animation: google.maps.Animation.DROP
		});
		var radius = $("#distance").val();
		cityCircle = new google.maps.Circle({
		    strokeColor: '#FF0000',
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: '#FF0000',
		    fillOpacity: 0.35,
		    map: map,
		    center: latLng,
				radius: radius * 1000
		});
		console.log("fin displayMap");
	}

</script>