<!-- /* =======================================================
 * Ensembles des fonctions utiles à la recherche de services
 * par Guiraud Maxime
 * =======================================================*/ -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#servicesMenu").css({'border-bottom': 'solid 12px #73B4D9'});
	});
/*on click service*/
	$(".tuile").on("click", function(){
		console.log('display');
		console.log(this.id);
		/*création de l'url*/ 
		var url = "{{ path('getmonServiceID',{ 'id': "idPlaceholder" , '_format': 'json'}) }}";
		url = url.replace("idPlaceholder", this.id);
		var urlEdit = "{{ path('editServices',{ 'id': "idPlaceholder"}) }}";
		urlEdit = urlEdit.replace("idPlaceholder", this.id);
		/*console.log(url);*/
		/*fonction ajax*/
		$("#cadre").empty();
		$("#cadre").append($("<img class='loading' src={{ asset('assets/Loading_icon.gif')}}>"));
		$.ajax({
			url: url,
			type: "GET",
			dataType: "json",
			success: function(data){
				console.log('test get data');
				console.log(data);
				$("#cadre").empty();
				$("#cadre").append($("<div id='service' class='service'>"));
				$("#service").append($("<div id='annonce' class='annonce'>"));
				$("#annonce").append($("<a href="+urlEdit+" class='button'>").text("modifier"));
				$("#annonce").append($("<h2>").text(data.titre));
				$("#annonce").append($("<p>").text(data.description));
				$("#annonce").append($("<p>").text(data.debut+" - "+data.fin));
				$("#annonce").append($("<p>").text(data.adresse));
				$("#annonce").append($("<input id='lieu' hidden value="+data.lieu+">"));
				$("#annonce").append($("<input id='distance' hidden value="+data.distance+">"));
				$("#annonce").append($("<div id='googlemaps' class='carteAjout'>"));
				displayMap();
				$("#service").append($("<div id='reponse' class='reponse'>"));
				if(data.reponses.length==0){
					$("#reponse").append($("<h3>").text("Réponse :"));
					$("#reponse").append($("<p>").text("Personne n'a encore répondu à votre annonce. Sachez que vous pouvez la modifier à tout moment."));
				}
				else{
					listeReponses(data);
				}		    
			},
			error: function (req, status, err){
					console.log("erreur click tuile");
					console.log(err);
			}
		});
	}); 

	function listeReponses(data){
		/*console.log(data);*/
		var service = data;
		$("#reponse").empty();
		$("#reponse").append($("<h3>").text("Réponse :"));
		$("#reponse").append($("<p>").text("liste des réponse à l'annonce : "));
		for (var i=0; i<data.reponses.length; i++) {
			var id = data.reponses[i].id;
			$("#reponse").append($("<div id='reponse"+id+"' title='"+id+"' class='reponseId'>"));
			$("#reponse"+id).append($("<h4>").text('de '+data.reponses[i].username));
			$("#reponse"+id).append($("<p>").text('date proposé pour le service :'+data.reponses[i].date_rendez_vous));			
			$("#reponse"+id).append($("<p class='linkReponse'>").text("voir en détails."));
			$("#reponse"+id).on("click", function(){
				console.log('click voir en detail');
				console.log(this.title);
				$("#reponse").empty();
				$("#reponse").append($("<img class='loading' src={{ asset('assets/Loading_icon.gif')}}>"));
				/*création de l'url*/ 
				var url = "{{ path('getreponseID',{ 'id': "idPlaceholder" , '_format': 'json'}) }}";
				url = url.replace("idPlaceholder", this.title);
				var urlForm = "{{ path('sendMessage') }}";
				console.log(url);
				/*fonction ajax*/
				$.ajax({
					url: url,
					type: "GET",
					dataType: "json",
					success: function(data){
						console.log('data obtenu');
						console.log(data);
						$("#reponse").empty();
						$("#reponse").append($("<div id='reponseId' class='reponse'>"));
						$("#reponseId").append($("<h3>").text("Réponse :"));
						$("#reponseId").append($("<p id='retour'>").text("<- retour"));
						$("#retour").on("click", function(){listeReponses(service)});
						$("#reponseId").append($("<h4>").text('de '+data.username));
						$("#reponseId").append($("<p>").text('date proposé pour le service :'+data.date_rendez_vous));
						$("#reponseId").append($("<p>").text('etat :'+data.etat));
						validation(data);
						$("#reponseId").append($("<div id='conversation' class='conversation'>"));
						for(var i=0; i<data.messages.length; i++){
							if ( "{{ app.user.username }}"==data.messages[i].username) {
								var id = data.messages[i].id;
								$("#conversation").append($("<div id='message"+id+"' class='message sideUser'>"));
								$("#message"+id).append($("<h4>").text(data.messages[i].username));
								$("#message"+id).append($("<p>").text(data.messages[i].contenu));
							}
							else{
								var id = data.messages[i].id;
								$("#conversation").append($("<div id='message"+id+"' class='message'>"));
								$("#message"+id).append($("<h4>").text(data.messages[i].username));
								$("#message"+id).append($("<p>").text(data.messages[i].contenu));
							}
						}
						if (data.etat=="cloture") {
							$("#conversation").append($("<p>").text("Le service est cloturé"))
						}
						else{
							$("#conversation").append($("<form id='send' action="+urlForm+" method='POST'>"));
							$("#send").append($("<input type='hidden' name='idConversation' value="+data.conversationId+">"));
							$("#send").append($("<input type='hidden' name='page' value='reponse'>"));
							$("#send").append($("<input type='text' name='message' placeholder='message'>"));
							$("#send").append($("<input type='submit' name='envoie' value='répondre'>"));
						}
					},
					error: function (req, status, err){
						console.log("erreur listeReponses");
						console.log(err);
					}
				});
			}); 
		}
	}

	function validation(data){
		if (data.etat=="attente") {
			var urlVal = "{{ path('validation') }}";
			$("#reponseId").append($("<form id='validation' action="+urlVal+" method='POST'>"));
			$("#validation").append($("<input type='hidden' name='idReponse' value="+data.id+">"));
			$("#validation").append($("<input type='submit' name='valide' value='accepter'>"));
			$("#validation").append($("<input type='submit' name='decline' value='decliner'>"));
		}
		if (data.etat=="valide"){
			var urlVal = "{{ path('validation') }}";
			$("#reponseId").append($("<div>"));
			$("#reponseId").append($("<p>").text("La proposition de "+data.username+" a été accepter, une fois le service rendu, pensez à venir noter."));
			$("#reponseId").append($("<form id='validation' action="+urlVal+" method='POST'>"));
			$("#validation").append($("<input type='hidden' name='idReponse' value="+data.id+">"));
			$("#validation").append($("<input type='submit' name='decline' value='annuler'>"));
		}
		if (data.etat=="notation"){
			var urlNote = "{{ path('notation') }}";
			$("#reponseId").append($("<form id='validation' action="+urlNote+" method='POST'>"));
			$("#validation").append($("<input type='hidden' name='idReponse' value="+data.id+">"));
			$("#validation").append($("<input type='hidden' name='page' value='services'>"));
			$("#validation").append($("<label for='note'>Note : </label>"));
			$("#validation").append($("<input id='r1' type='radio' name='note' value=1>"));
			$("#r1").append($("<label for='r1'>1</label>"));
			$("#validation").append($("<input id='r2' type='radio' name='note' value=2>"));
			$("#r2").append($("<label for='r2'>2</label>"));
			$("#validation").append($("<input id='r3' type='radio' name='note' value=3>"));
			$("#r3").append($("<label for='r3'>3</label>"));
			$("#validation").append($("<input id='r4' type='radio' name='note' value=4>"));
			$("#r4").append($("<label for='r4'>4</label>"));
			$("#validation").append($("<input id='r5' type='radio' name='note' value=5>"));
			$("#r5").append($("<label for='r5'>5</label>"));
			$("#validation").append($("<input type='text' name='commentaire' placeholder='commentaire'>"));
			$("#validation").append($("<input type='submit' name='noter' value='noter'>"));
		}
		if (data.etat=="refuser"){
			$("#reponseId").append($("<div>"));
			$("#reponseId").append($("<p>").text("Vous avez refuser la proposition de "+data.inscrit.username));
		}
	}

	function displayMap(){
		console.log("displayMap");
		//affichage de la carte :
		var key = "key=AIzaSyAP6ZUJ4H43dX3bjj-uNmFwal8Yi0iZX9g";
		var position = $("#lieu").val().split(",");
		console.log(position);
		var latLng = new google.maps.LatLng(position[0], position[1]);
		var mapOptions = {
	  	zoom: 14, // initialize zoom level - the max value is 21
	  	streetViewControl: false, // hide the yellow Street View pegman
	  	scaleControl: true, // allow users to zoom the Google Map
	  	mapTypeId: google.maps.MapTypeId.ROADMAP,
	  	center: latLng
		};
	    map = new google.maps.Map(document.getElementById('googlemaps'),mapOptions);
	    // Ajout du marker sur la map
		marker = new google.maps.Marker({
		    position: latLng,
		    map: map,
		    draggable: false,
		    animation: google.maps.Animation.DROP
		});
		var radius = $("#distance").val();
		cityCircle = new google.maps.Circle({
		    strokeColor: '#FF0000',
		    strokeOpacity: 0.8,
		    strokeWeight: 2,
		    fillColor: '#FF0000',
		    fillOpacity: 0.35,
		    map: map,
		    center: latLng,
			radius: radius * 1000
		});
		console.log("fin displayMap");
	}


	

</script>