{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block css %}	
	<link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
	<div class="container">
		{% if app.user %}
	      <p class="login"><a href="{{ path('dashboard') }}">dashboard</a>
	        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
	    {% else %}
	      <p class="login"><a href="{{ path('fos_user_security_login') }}">login</a></p>    
	    {% endif %}
		<header>
  		<h2 class="logo"><span>E</span></h2>
  	</header>
		<nav class="navbar">
		<p>
			<a id="dashboardMenu" href="{{ path('dashboard') }}" class="menu">🏠</a>
			<a id="servicesMenu" href="{{ path('servicesUser') }}" class="menu">Mes Services</a>
			<a id="reponsesMenu" href="{{ path('reponsesUser') }}" class="menu">Mes Réponses</a>
		</p>
		</nav>
		<div class="main">
			<div class="liste">
				{% block liste %}
					<!-- <div><p> block de liste</p></div> -->
				{% endblock liste %}
			</div>
			<div id="cadre" class="cadre">
				{% block affichage %}
					<div><h2> Bonjour {{ app.user.username }}</h2></div>
					<div><h4> Vos dernières annonces</h4></div>
					{% for service in services %}
						<div class="tuile">
		       				<h3>{{service.titre}}</h3>
		       				<p>{{service.description}}</p>
		       				<p>Sous-catégorie : <b>{{service.sousCategorie.libelle}}</b></p> 
		       			</div>
					{% endfor %}	
				{% endblock affichage %}	
			</div>	
		</div>
	</div>
{% endblock content %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %}
<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script> 
<script type="text/javascript">
	$(document).ready(function(){
		$("#dashboardMenu").css({'border-bottom': 'solid 12px #73B4D9'});
	});
</script>
{% endblock script %}