{% extends 'EchangeoBundle:Dashboard:dashboardServices.html.twig' %}

{% block title %}Services Utilisateur - Nouvelle annonce{% endblock %}

{% block scriptTete %}	
	<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script>
	<script src="{{ asset('script/moment.js')}}"></script>
{% endblock scriptTete %}

{% block affichage %}
	<div id='service' class='service'>
		<h2>Créer une annonce</h2>
		{{ form_start(form) }}
			{{ form_row(form.titre, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.sousCategorie, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.description, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.debut, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.fin, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.type, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.adresse, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.lieu, { 'attr': {'class': 'form-control'} }) }}
			{{ form_row(form.distance, { 'attr': {'class': 'form-control stepper-input'} }) }}
			<div id="googlemaps" class="carteAjout"></div>
			<div class="validation">
				{{ form_row(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
				{% if form.delete is defined %}
					{{ form_row(form.delete, { 'attr': {'class': 'btn btn-danger'} }) }}
				{% endif %}
			</div>
		{{ form_end(form) }}
	</div>
{% endblock affichage %}

{% block script %}
<script src="{{ asset('script/pikaday.js')}}"></script>
{% include 'EchangeoBundle:Scripts:servicesScript.html.twig' %}
<script type="text/javascript">
		var picker = new Pikaday({ field: $('#form_debut')[0] });
		var picker2 = new Pikaday({ field: $('#form_fin')[0] });
	</script>
{% endblock script %}	