{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block css %}	
	<link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
	<link href="{{ asset('script/jquery-ui/jquery-ui.css') }}" rel="stylesheet">
	<link href="{{ asset('css/pikaday.css') }}" rel="stylesheet">
{% endblock css %}

{% block content %}
	<div class="container">
		{% if app.user %}
	      <p class="login"><a href="{{ path('dashboard') }}">dashboard</a> | 
	        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
	    {% else %}
	      <p class="login"><a href="{{ path('fos_user_security_login') }}">se connecter</a> |   
	      <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a></p>    
	    {% endif %}
		<div class="main row">
			<header>
	  			<h2 class="logo"><a href="{{ path('index') }}"><span>E</span></a></h2>
	  		</header>
			<nav class="navbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ul>
					<li><a id="dashboardMenu" href="{{ path('dashboard') }}" class="menu">🏠</a></li>
					<li><a id="servicesMenu" href="{{ path('servicesUser') }}" class="menu">Mes Services</a></li>
					<li><a id="reponsesMenu" href="{{ path('reponsesUser') }}" class="menu">Mes Réponses</a></li>
					<li><a id="optionsMenu" href="{{ path('options') }}" class="menu">Options</a></li>
				</ul>
			</nav>
			<div class="liste col-xs-12 col-sm-12 col-md-4 col-lg-4">
				{% block liste %}
					<!-- <div><p> block de liste</p></div> -->
				{% endblock liste %}
			</div>
			<div id="cadre" class="cadre col-xs-12 col-sm-12 col-md-8 col-lg-8">
				{% block affichage %}
					<div><h2> Bonjour {{ app.user.username }}</h2></div>
					<div><h4> Vos dernières annonces : </h4></div>
					{% for service in services %}
						<div class="tuile">
		       				<h3>{{service.titre}}</h3>
		       				<p>{{service.description}}</p>
		       				<p>Sous-catégorie : <b>{{service.sousCategorie.libelle}}</b></p> 
		       			</div>
					{% endfor %}	
				{% endblock affichage %}	
			</div>	
		</div>
	</div>
{% endblock content %}

{% block footer %}{{ parent() }}{% endblock footer %}

{% block script %}
<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script> 
<script type="text/javascript">
	$(document).ready(function(){
		$("#dashboardMenu").css({'border-bottom': 'solid 8px #4FC1E9'});
	});
</script>
{% endblock script %}