{% extends 'EchangeoBundle:Dashboard:dashboard.html.twig' %}

{% block title %}Services Utilisateur{% endblock %}

{% block liste %}
	<!-- <h2>Mes services</h2> -->
	<div class='ajout'>
		<a href="{{ path('addServices') }}" class="btn btn-primary">Crée une nouvelle annonce</a>
	</div>
	{% for service in services %}
		{% if service.fin|date('Ymd') < "now"|date('Y-m-d') %}
			<div id="{{service.id}}" class="tuile cloture">
		    <h3>{{service.titre}}</h3>
		   	<p>{{service.description}}</p>
		   	<p>{{"now"|date('Y-m-d')}}</p>
		   	<p>{{service.fin|date('Y-m-d')}}</p>
		   	<p>Sous-catégorie : <b>{{service.sousCategorie.libelle}}</b></p> 
		   	<a href="#" class="btn btn-primary">voir en détail</a>
		  </div>
		{% else %}
			<div id="{{service.id}}" class="tuile valide">
		    <h3>{{service.titre}}</h3>
		   	<p>{{service.description}}</p>
		   	<p>{{"now"|date('Y-m-d')}}</p>
		   	<p>{{service.fin|date('Y-m-d')}}</p>
		   	<p>Sous-catégorie : <b>{{service.sousCategorie.libelle}}</b></p> 
		   	<a href="#" class="btn btn-primary">voir en détail</a>
		  </div>
		{% endif %}
	{% endfor %}
{% endblock liste %}

{% block affichage %}
		
{% endblock affichage %}

{% block script %}
<script src="{{ asset('script/jquery-1.12.3.min.js') }}"></script> 
{% include 'EchangeoBundle:Scripts:servicesScript.html.twig' %}
{% endblock script %}	