{% extends 'EchangeoBundle:Default:base.html.twig' %}

{% block title %}Login{% endblock %}

{% block css %}
	<link href="{{ asset('css/fosuser.css') }}" rel="stylesheet">
{% endblock css%}

{% block content %}
<div class="container">
	{% if app.user %}
      <p class="login"><a href="{{ path('dashboard') }}">dashboard</a> | 
        <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
    {% else %}
      <p class="login"><a href="{{ path('fos_user_security_login') }}">se connecter</a> |   
      <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a></p>    
    {% endif %}
    {% block fos_user_content %}{% endblock %}
</div>
{% endblock %}